.welcome{
  padding-top: 50px;
  color: brown;
  text-align: center;
}

.home_img{
  width: 50%;
  height: 50%;
}

.home_page{
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 50px;
  padding-top: 50px;
}